{{!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <!-- Include Tailwind CSS via a link or import it based on your project setup -->
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <style>
        /* Additional custom styles can be added here if needed */
        body {
            background-color: #f8f8f8;
            font-family: Arial, sans-serif;
        }
        .container {
            background-color: transparent;
            padding: 20px;
            border-radius: 8px;
        }
        .header {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            color: #4a90e2;
        }
        .invoice-details {
            display: flex;
            margin-top: 20px;
        }
        .sender, .receiver {
            width: 50%;
            padding: 0 10px;
        }
        .sender h3, .receiver h3 {
            font-size: 18px;
            font-weight: bold;
        }
        .sender p, .receiver p {
            font-size: 14px;
            margin-bottom: 10px;
        }
        .items {
            margin-top: 20px;
        }
        .items h3 {
            font-size: 18px;
            font-weight: bold;
        }
        .items-table {
            width: 100%;
            margin-top: 10px;
            border-collapse: collapse;
        }
        .items-table th {
            text-align: left;
            padding: 8px 0;
            font-size: 14px;
            color: #777;
            border-bottom: 1px solid #ccc;
        }
        .items-table td {
            padding: 8px 0;
            font-size: 14px;
            color: #333;
            border-bottom: 1px solid #ccc;
        }
        .additional-details {
            display: flex;
            margin-top: 20px;
        }
        .left, .right {
            width: 50%;
            padding: 0 10px;
        }
        .left h3, .right h3 {
            font-size: 18px;
            font-weight: bold;
        }
        .left p, .right p {
            font-size: 14px;
            margin-bottom: 10px;
        }
        .totals {
            margin-top: 20px;
        }
        .totals h3 {
            font-size: 18px;
            font-weight: bold;
        }
        .totals p {
            font-size: 14px;
            margin-bottom: 5px;
        }
        .totals p.text-xl {
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="header">Invoice</div>

        <img src={{ details.invoiceLogo }} height="100" alt="">
        
        <div class="invoice-details">
            <div class="sender w-1/2 pr-4">
                <h3 class="text-xl font-semibold">Sender:</h3>
                <p class="text-gray-800">Name: {{sender.name}}</p>
                <p class="text-gray-600">Address: {{sender.address}}</p>
                <p class="text-gray-600">Zip Code: {{sender.zipCode}}</p>
                <p class="text-gray-600">City: {{sender.city}}</p>
                <p class="text-gray-600">Country: {{sender.country}}</p>
                <p class="text-gray-600">Email: {{sender.email}}</p>
                <p class="text-gray-600">Phone: {{sender.phone}}</p>
                <p class="text-gray-600">VAT Number: {{sender.vatNumber}}</p>
            </div>
            
            <div class="receiver w-1/2 pl-4">
                <h3 class="text-xl font-semibold">Receiver:</h3>
                <p class="text-gray-800">Name: {{receiver.name}}</p>
                <p class="text-gray-600">Address: {{receiver.address}}</p>
                <p class="text-gray-600">Zip Code: {{receiver.zipCode}}</p>
                <p class="text-gray-600">City: {{receiver.city}}</p>
                <p class="text-gray-600">Country: {{receiver.country}}</p>
                <p class="text-gray-600">Email: {{receiver.email}}</p>
                <p class="text-gray-600">Phone: {{receiver.phone}}</p>
                <p class="text-gray-600">VAT Number: {{receiver.vatNumber}}</p>
            </div>
        </div>
        
        <div class="items mt-8">
            <h3 class="text-xl font-semibold">Invoice Items:</h3>
            
            <table class="items-table mt-4 w-full">
                <thead>
                    <tr>
                        <th class="text-left text-gray-600">Name</th>
                        <th class="text-left text-gray-600">Description</th>
                        <th class="text-left text-gray-600">Quantity</th>
                        <th class="text-left text-gray-600">Unit Price</th>
                        <th class="text-left text-gray-600">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each details.items}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{description}}</td>
                            <td>{{quantity}}</td>
                            <td>{{unitPrice}} {{../details.currency}}</td>
                            <td>{{total}} {{../details.currency}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
        <div class="additional-details mt-8">
            <div class="left">
                <h3 class="text-xl font-semibold">Additional Notes:</h3>
                <p class="text-gray-600">{{details.additionalNotes}}</p>
            </div>
            <div class="right mt-6">
                <h3 class="text-xl font-semibold">Payment Details:</h3>
                <p class="text-gray-600">Payment Terms: {{details.paymentTerms}}</p>
                <p class="text-gray-600">Invoice Date: {{details.invoiceDate}}</p> <!-- Add Invoice Date -->
                <p class="text-gray-600">Due Date: {{details.dueDate}}</p> <!-- Add Due Date -->
            </div>
        </div>
        
        <div class="totals mt-8">
            <h3 class="text-xl font-semibold">Invoice Totals:</h3>
            <p class="text-gray-600">Subtotal: {{details.subTotal}} {{ details.currency }}</p>
            {{#if details.discountDetails.amount }}
                <p class="text-gray-600">
                    Discount:

                    {{#ifEquals details.discountDetails.amountType "amount"}}
                        - {{details.discountDetails.amount}} {{ details.currency }}
                    {{else}}
                        - {{details.discountDetails.amount}}%
                    {{/ifEquals}}
                </p>
            {{/if}}

            {{#if details.taxDetails.amount }}
                <p class="text-gray-600">
                    Tax:

                    {{#ifEquals details.taxDetails.amountType "amount"}}
                        + {{details.taxDetails.amount}} {{ details.currency }}
                    {{else}}
                        + {{details.taxDetails.amount}}%
                    {{/ifEquals}}
                </p>
            {{/if}}

            {{#if details.shippingDetails.cost }}
                <p class="text-gray-600">
                    Shipping:

                    {{#ifEquals details.shippingDetails.costType "amount"}}
                        + {{details.shippingDetails.cost}} {{ details.currency }}
                    {{else}}
                        + {{details.shippingDetails.cost}}%
                    {{/ifEquals}}
                </p>
            {{/if}}

            <p class="text-xl font-semibold">Total Amount: {{details.totalAmount}} {{ details.currency }}</p>

            <div>
                <img src={{ details.signature }} height="100" alt="">
            </div>
        </div>
    </div>

</body>
</html> --}}

<html>
    <head>
        <!-- Include Tailwind CSS via a link or import it based on your project setup -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
    </head>
    <body class="">
        <!-- Invoice -->
        <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto my-1">
            <div class="sm:w-11/12 lg:w-3/4 mx-auto">
                <!-- Card -->
                <div
                    class="flex flex-col p-4 sm:p-10 bg-white rounded-xl dark:bg-gray-800"
                >
                    <!-- Grid -->
                    <div class="flex justify-between">
                        <div>
                            <img src={{ details.invoiceLogo }} style="height: 100px;" alt="">

                            <h1
                                class="mt-2 text-lg md:text-xl font-semibold text-blue-600 dark:text-white"
                            >
                            {{ sender.name }}
                            </h1>
                        </div>
                        <!-- Col -->

                        <div class="text-right">
                            <h2
                                class="text-2xl md:text-3xl font-semibold text-gray-800 dark:text-gray-200"
                            >Invoice #</h2>
                            <span
                                class="mt-1 block text-gray-500"
                            >{{ details.invoiceNumber }}</span>

                            <address
                                class="mt-4 not-italic text-gray-800 dark:text-gray-200"
                            >
                                {{ sender.address }}<br />
                                {{ sender.zipCode }}, {{ sender.city }}<br />
                                {{ sender.country }}<br />
                            </address>
                        </div>
                        <!-- Col -->
                    </div>
                    <!-- End Grid -->

                    <!-- Grid -->
                    <div class="mt-6 grid sm:grid-cols-2 gap-3">
                        <div>
                            <h3
                                class="text-lg font-semibold text-gray-800 dark:text-gray-200"
                            >Bill to:</h3>
                            <h3
                                class="text-lg font-semibold text-gray-800 dark:text-gray-200"
                            >{{ receiver.name }}</h3>
                            <address class="mt-2 not-italic text-gray-500">
                                {{ receiver.address }},<br />
                                {{ receiver.zipCode }}, {{ receiver.city }},<br />
                                {{ receiver.country }}<br />
                            </address>
                        </div>
                        <!-- Col -->

                        <div class="sm:text-right space-y-2">
                            <!-- Grid -->
                            <div
                                class="grid grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2"
                            >
                                <dl class="grid sm:grid-cols-6 gap-x-3">
                                    <dt
                                        class="col-span-3 font-semibold text-gray-800 dark:text-gray-200"
                                    >Invoice date:</dt>
                                    <dd
                                        class="col-span-3 text-gray-500"
                                    >{{ details.invoiceDate }}</dd>
                                </dl>
                                <dl class="grid sm:grid-cols-6 gap-x-3">
                                    <dt
                                        class="col-span-3 font-semibold text-gray-800 dark:text-gray-200"
                                    >Due date:</dt>
                                    <dd
                                        class="col-span-3 text-gray-500"
                                    >{{ details.dueDate }}</dd>
                                </dl>
                            </div>
                            <!-- End Grid -->
                        </div>
                        <!-- Col -->
                    </div>
                    <!-- End Grid -->

                    <!-- Table -->
                    <div class="mt-6">
                        <div
                            class="border border-gray-200 p-4 rounded-lg space-y-4 dark:border-gray-700"
                        >
                            <div class="hidden sm:grid sm:grid-cols-5">
                                <div
                                    class="sm:col-span-2 text-xs font-medium text-gray-500 uppercase"
                                >Item</div>
                                <div
                                    class="text-left text-xs font-medium text-gray-500 uppercase"
                                >Qty</div>
                                <div
                                    class="text-left text-xs font-medium text-gray-500 uppercase"
                                >Rate</div>
                                <div
                                    class="text-right text-xs font-medium text-gray-500 uppercase"
                                >Amount</div>
                            </div>

                            <div
                                class="hidden sm:block border-b border-gray-200 dark:border-gray-700"
                            ></div>

                            <div class="grid grid-cols-3 sm:grid-cols-5 gap-2">

                                {{#each details.items}}
                                    
                                    <div class="col-span-full sm:col-span-2">
                                        <p
                                            class="font-medium text-gray-800 dark:text-gray-200"
                                        >{{name}}</p>
                                    </div>
                                    {{!-- <div>
                                        <p class="font-small text-gray-800">
                                            {{description}}
                                        </p>
                                    </div> --}}
                                    <div>
                                        <p
                                            class="text-gray-800 dark:text-gray-200"
                                        >{{quantity}}</p>
                                    </div>
                                    <div>
                                        <p
                                            class="text-gray-800 dark:text-gray-200"
                                        >{{unitPrice}} {{../details.currency}}</p>
                                    </div>
                                    <div>
                                        <p
                                            class="sm:text-right text-gray-800 dark:text-gray-200"
                                        >{{total}} {{../details.currency}}</p>
                                    </div>
                                {{/each}}
                            </div>

                            <div
                                class="sm:hidden border-b border-gray-200 dark:border-gray-700"
                            ></div>
                        </div>
                    </div>
                    <!-- End Table -->

                    <!-- Flex -->
                    <div class="mt-8 flex sm:justify-end">
                        <div class="w-full max-w-2xl sm:text-right space-y-2">
                            <!-- Grid -->
                            <div
                                class="grid grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2"
                            >
                                <dl class="grid sm:grid-cols-5 gap-x-3">
                                    <dt
                                        class="col-span-3 font-semibold text-gray-800 dark:text-gray-200"
                                    >Subtotal:</dt>
                                    <dd
                                        class="col-span-2 text-gray-500"
                                    >{{ details.subTotal }}</dd>
                                </dl>

                                {{#if details.discountDetails.amount }}
                                    <dl class="grid sm:grid-cols-5 gap-x-3">
                                        <dt
                                            class="col-span-3 font-semibold text-gray-800 dark:text-gray-200"
                                        >Discount:</dt>
                                        <dd
                                            class="col-span-2 text-gray-500"
                                        >
                                            {{#ifEquals details.discountDetails.amountType "amount"}}
                                                - {{details.discountDetails.amount}} {{ details.currency }}
                                            {{else}}
                                                - {{details.discountDetails.amount}}%
                                            {{/ifEquals}}
                                        </dd>
                                    </dl>
                                {{/if}}

                                {{#if details.taxDetails.amount }}
                                    <dl class="grid sm:grid-cols-5 gap-x-3">
                                        <dt
                                            class="col-span-3 font-semibold text-gray-800 dark:text-gray-200"
                                        >Tax:</dt>
                                        <dd
                                            class="col-span-2 text-gray-500"
                                        >
                                            {{#ifEquals details.taxDetails.amountType "amount"}}
                                                + {{details.taxDetails.amount}} {{ details.currency }}
                                            {{else}}
                                                + {{details.taxDetails.amount}}%
                                            {{/ifEquals}}
                                        </dd>
                                    </dl>
                                {{/if}}

                                {{#if details.shippingDetails.cost }}
                                <dl class="grid sm:grid-cols-5 gap-x-3">
                                    <dt
                                        class="col-span-3 font-semibold text-gray-800 dark:text-gray-200"
                                    >Shipping:</dt>
                                    <dd
                                        class="col-span-2 text-gray-500"
                                    >
                                        {{#ifEquals details.shippingDetails.costType "amount"}}
                                            + {{details.shippingDetails.cost}} {{ details.currency }}
                                        {{else}}
                                            + {{details.shippingDetails.cost}}%
                                        {{/ifEquals}}
                                    </dd>
                                </dl>
                                {{/if}}

                                <dl class="grid sm:grid-cols-5 gap-x-3">
                                    <dt
                                        class="col-span-3 font-semibold text-gray-800 dark:text-gray-200"
                                    >Total:</dt>
                                    <dd
                                        class="col-span-2 text-gray-500"
                                    >{{ details.totalAmount }}</dd>
                                </dl>

                            </div>
                            <!-- End Grid -->
                        </div>
                    </div>
                    <!-- End Flex -->

                    <div class="">
                        <div class="my-4">
                            <div class="my-2">
                                <p class="font-semibold text-blue-600">Additional notes:</p>
                                <p
                                    class="font-semibold text-gray-800 dark:text-gray-200"
                                >
                                    {{ details.additionalNotes }}
                                </p>
                            </div>

                            <div class="my-2">
                                <p class="font-semibold text-blue-600">
                                    Payment terms:
                                </p>
                                <p class="font-semibold text-gray-800 dark:text-gray-200">
                                    {{ details.paymentTerms }}
                                </p>
                            </div>
                        </div>

                        <p class="text-gray-500">If you have any questions
                            concerning this invoice, use the following contact
                            information:</p>
                        <div class="mt-2">
                            <p
                                class="block text-sm font-medium text-gray-800 dark:text-gray-200"
                            >
                                {{ sender.email }}
                            </p>
                            <p
                                class="block text-sm font-medium text-gray-800 dark:text-gray-200"
                            >
                                {{ sender.phone }}
                            </p>
                        </div>
                    </div>

                    <div class="mt-6">
                        <p class="font-semibold text-gray-800">
                            Signature:
                        </p>
                        <img src={{ details.signature }} style="height: 100px" alt="">
                    </div>

                    {{!-- <p class="mt-5 text-sm text-gray-500">© 2022 Preline.</p> --}}
                </div>
                <!-- End Card -->
            </div>
        </div>
        <!-- End Invoice -->
    </body>
</html>